<div id="container">

  <img class="img-responsive" src="assets/images/victoryclothes.png">
  <p class="title">Victory Clothes</p>

  <div class="rowButton">
    <span style="padding: 2%;">
    <a class="btn btn-secondary" href="#home" role="button">Home</a>
    </span>
    <span style="padding: 2%;">
      <a class="btn btn-outline-secondary" href="#produit" role="button">Produits</a>
      </span>
      <span style="padding: 2%;">
        <a class="btn btn-outline-secondary" href="#contact" role="button">Contact</a>
        </span>
  </div>

<div id="produit">
<app-produits></app-produits>
</div>
<div id="contact">
  <app-contact></app-contact>
  </div>
</div>


