<br><br>
<p class="title">Produits</p>
<br>
<div class="container" style="position: relative;
left: 3%;">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">45 Dt</h5>
          <p class="card-text">capuche</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">45 Dt</h5>
          <p class="card-text">capuche</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">45 Dt</h5>
          <p class="card-text">capuche</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/4.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">45 Dt</h5>
          <p class="card-text">capuche</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/5.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">45 Dt</h5>
          <p class="card-text">capuche</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/6.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">45 Dt</h5>
          <p class="card-text">capuche</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/7.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">45 Dt</h5>
          <p class="card-text">capuche</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/8.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">45 Dt</h5>
          <p class="card-text">capuche</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/9.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">45 Dt</h5>
          <p class="card-text">capuche</p>
        </div>
      </div>
    </div>

</div>
<br><br><br><br>
</div>
